<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/main.css")

        //importing boostrap
        link(rel="stylesheet", href="./bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet", href="./css/aos.css")
        title blogk About Us Template
    body

        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
            a.navbar-brand Block About 
            button.navbar-toggler(data-target='#my-nav', data-toggle='collapse', aria-controls='my-nav', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            .collapse.navbar-collapse#my-nav
                ul.navbar-nav.ml-auto
                    li.nav-item.active
                        a.nav-link(href='#1') 1
                    li.nav-item
                        a.nav-link(href='#2') 2
                    li.nav-item
                        a.nav-link(href='#3') 3
                    li.nav-item
                        a.nav-link(href='#4') 4
                    li.nav-item
                        a.nav-link(href='#5') 5
                    li.nav-item
                        a.nav-link(href='#6') 6
                            
                    
        .container.mt-5.pt-5
            h1.text-center.text-muted.mb-3 Free About Boxex for next project
            //section one 
            h1.pipe#1
                i section 1       
            .section1
                .wrap.mt-4
                    .block.shadow-sm.p-4
                        .row
                            .col-md-6
                                .place.bg-dark.canTakeImage
                            .col-md-6.d-flex.align-items-center
                                .ctn
                                    small.text-muted ABOUT US
                                    h3.tag ABOUT US 
                                    p.content Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam non odio eum eligendi eaque animi quasi, sint aut autem nemo facilis. Ab minus, quaerat pariatur asperiores perspiciatis aliquam architecto laboriosam!

                    .block.shadow-sm.p-4
                        .row
                            .col-md-6.d-flex.align-items-center
                                .ctn.text-center
                                    small.text-muted ABOUT US
                                    h3.tag ABOUT US 
                                    p.content Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam non odio eum eligendi eaque animi quasi, sint aut autem nemo facilis. Ab minus, quaerat pariatur asperiores perspiciatis aliquam architecto laboriosam!
                            .col-md-6
                                .place.bg-dark.canTakeImage
            h1.pipe#2
                i section 2        
            .section2
                .wrap.mt-4
                    .block.shadow-sm.p-4
                        .row
                            .col-md-6
                                .place.bg-dark.canTakeImage
                            .col-md-6.d-flex.align-items-center
                                .ctn.text-right
                                    small.text-muted ABOUT US
                                    h3.tag ABOUT US 
                                    p.content Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam non odio eum eligendi eaque animi quasi, sint aut autem nemo facilis. Ab minus, quaerat pariatur asperiores perspiciatis aliquam architecto laboriosam!

                    .block.shadow-sm.p-4
                        .row
                            .col-md-6.d-flex.align-items-center
                                .ctn
                                    small.text-muted ABOUT US
                                    h3.tag ABOUT US 
                                    p.content Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam non odio eum eligendi eaque animi quasi, sint aut autem nemo facilis. Ab minus, quaerat pariatur asperiores perspiciatis aliquam architecto laboriosam!
                                    button(type="submit").btn.btn-primary.btm-sm READ MORE
                            .col-md-6
                                .place.bg-dark.canTakeImage
            h1.pipe#3
                i section 3       
            .section3
                .wrap.mt-4
                    .block.shadow-sm.p-4
                        .row
                            .col-md-6
                                .two
                                    .place2
                                        .place.bg-dark.canTakeImage(data-aos='fade-down')
                                        .place.bg-dark.canTakeImage(data-aos='fade-up')

                            .col-md-6.d-flex.align-items-center
                                .ctn.text-right
                                    small.text-muted ABOUT US
                                    h3.tag ABOUT US 
                                    p.content Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam non odio eum eligendi eaque animi quasi, sint aut autem nemo facilis. Ab minus, quaerat pariatur asperiores perspiciatis aliquam architecto laboriosam!

                    .block.shadow-sm.p-4
                        .row
                            .col-md-6.d-flex.align-items-center
                                .ctn
                                    small.text-muted ABOUT US
                                    h3.tag ABOUT US 
                                    p.content Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam non odio eum eligendi eaque animi quasi, sint aut autem nemo facilis. Ab minus, quaerat pariatur asperiores perspiciatis aliquam architecto laboriosam!
                                    button(type="submit").btn.btn-primary.btm-sm READ MORE
                            .col-md-6
                                .place3
                                    .place.bg-dark.canTakeImage
                                    .place.bg-dark.canTakeImage
                                    .place.bg-dark.canTakeImage
                                    .place.bg-dark.canTakeImage
            h1.pipe#4
                i section 4                              
            .section4
                .wrap.mt-4
                    .block.shadow-sm.p-4
                        .row
                            .col-md-6
                                h3.tag ABOUT US 
                                small.text-muted.small.text-muted ABOUT OUR COMPANY

                            .col-md-6.d-flex.align-items-center
                                .ctn.text-right
                                    p.content Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam non odio eum eligendi eaque animi quasi,
                                    P.content Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat, iusto odit velit consequatur doloribus odio. Autem illum alias officiis expedita optio maiores rem eos modi? Dolore nihil perferendis veritatis recusandae.

                    .block.shadow-sm.p-4
                        .row
                            .col-md-6.d-flex.align-items-center
                                .ctn.text-center
                                    p.content Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam non odio eum eligendi eaque animi quasi,
                                    P.content Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat, iusto odit velit consequatur doloribus odio. Autem illum alias officiis expedita optio maiores rem eos modi? Dolore nihil perferendis veritatis recusandae.
                                    
                            .col-md-6
                                h3.tag ABOUT US 
                                small.text-muted.small.text-muted ABOUT OUR COMPANY
            h1.pipe#5
                i section 5        
            .section5
                .wrap.mt-4
                    .block.shadow-sm.p-4
                        .row
                            .col-md-6.d-flex.align-items-center
                                .ctn.text-right
                                    h3.tag ABOUT US 
                                    small.text-muted.small.text-muted ABOUT OUR COMPANY
                                    p.content Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam non odio eum eligendi eaque animi quasi,
                            .col-md-6.d-flex.align-items-center.imgCarry
                                .ctn.img.rounded-circle
                                    .place.bg-dark.canTakeImage(data-aos='fade-left')
                                      

                    .block.shadow-sm.p-4
                        .row
                            .col-md-6.d-flex.align-items-center
                                .ctn.text-right
                                    p.content Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam non odio eum eligendi eaque animi quasi,
                                    P.content Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat, iusto odit velit consequatur doloribus odio. Autem illum alias officiis expedita optio maiores rem eos modi? Dolore nihil perferendis veritatis recusandae.
                                    
                            .col-md-6
                                h3.tag ABOUT US 
                                small.text-muted.small.text-muted ABOUT OUR COMPANY

            h1.pipe#6
                i section 6        
            .section6
                .wrap.mt-4.shadow-sm.p-4
                    .row
                        .col-md-6.d-flex.align-items-center
                            .ctn
                                h4.tag(data-aos='fade-up') ABOUT ME 
                                small.text-muted.small.text-muted 
                                    i ABOUT OUR COMPANY
                                p.mt-2.content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci veritatis fugiat illum tenetur atque ut, impedit nam? Debitis, obcaecati ipsam temporibus inventore molestiae est, facere at fugiat dolores dignissimos ducimus. obcaecati ipsam temporibus inventore molestiae est,
                                button(type="submit").btn.btn-primary.btm-sm.cool READ MORE
                        .col-md-6
                            .place3
                                .place.bg-dark.canTakeImage
                                .place.bg-dark.canTakeImage
                                .place.bg-dark.canTakeImage
                                .place.bg-dark.canTakeImage

            h1.pipe#7
                i section 7 
            .section7
                .wrap.mt-4.shadow-sm.p-4
                    .box1.box(data-aos='fade-left')
                        .place.bg-dark.canTakeImage

                        .boxBtm
                            h4.tag ABOUT ME
                            p.mt-2.content Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            small.text-muted.small.text-muted Read More

                    .box2.box
                        .place.bg-dark.canTakeImage

                        .boxBtm
                            h4.tag ABOUT ME
                            p.mt-2.content Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            small.text-muted.small.text-muted Read More

                    .box3.box(data-aos='fade-right')
                        .place.bg-dark.canTakeImage

                        .boxBtm
                            h4.tag ABOUT ME
                            p.mt-2.content Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            small.text-muted.small.text-muted Read More

script(src="./js/jquery-3.5.1.min.js")
script(src="./bootstrap/js/bootstrap.min.js")
script(src="./js/aos.js")
script.
    AOS.init({
        duration: 1200
    })

